body{
    background-color: #FFD900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 15px;

}

#sec1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
    margin-top: 5px;
    margin-left: -15px;
}

#desc{
    text-align: center;
    background-color: #514988;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 32px;
    padding-bottom: 30px;
    height: 400px;
}

#titulo{
    margin: 5px;
    color: #FFD900;
    font-size: 30px;
}

#data{
    margin-top: 20px;
    font-size: 20px;
}

#conteudo{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
}

#countdown{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: white;
    margin-right: -15px;
}

.cd-item{
    color: #514988;
    font-size: 38px;
    margin-top: 5px;
    margin-bottom: 5px;;
}

#subtitulo{
    background-color: white;
    color: #E33881;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-right: -15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

#video{
    margin-right: -15px;
    margin-bottom: -15px;
    margin-top: -15px;
    background-color: white;
    height: 10px;
}

#compre{
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 150px;
}

#subtitulo-ing{
    color: #FFD900;
    padding: 10px;
    margin-left: 20px;
}

button{
    background-color: #514988;
    border-radius: 20px;
    color: white;
    margin: 30px;
    width: 300px;
    height: 70px;
    font-size: 30px;
    margin-top: 10rem;
}

button:hover{
    cursor: pointer;
    color:#FFD900
}